.combat{
  &-enemy{
    margin: 10px;
    display: flex;
    &-avatar{
      border: 1px solid #ccc;
      min-height: 200px;
      min-width: 300px;
      text-align: center;
    }
  }

  &-action{
    display: flex;
    justify-content: center;
  }
}