.as-btn{
  padding: 10px 20px;
  background: #e5ce00;
  color: #1e1f26;
  cursor: pointer;
  min-width: 95px;
  min-height: 38px;
  display: inline-block;
  text-align: center;
  transition: box-shadow 0.3s, transform 0.3s;

  &:hover{
    box-shadow: inset 0px 0px 8px 2px #b3a843 ;
  }
}