.cli{
  padding: 16px;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #333;
  position: relative;
  &:hover{
    color: #e5ce00;
  }
  &.selected{
    background: #333;
    color: #e5ce00;
  }
  &-attr{
    display: flex;
  }
  &-edit{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
  }
}