.stage-map-box{
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border: 3px solid #696969;
  z-index: 1;
  &.expand{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(28, 28, 28, 0.9);
  }
}

.stage-map{
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  position: absolute;
  &-open{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
    cursor: pointer;
    &:hover{
      background: #696969;
    }
  }
  &-close{
    font-size: 24px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    &:hover{
      background: #696969;
    }
  }
}
.stage-map .room{
  &-box{
    box-sizing: border-box;
    height: 78px;
    width: 78px;
    border: 1px solid #333;
    background: rgba(192,192,192,0.3);
  }
  &-main{
    background: #a9a9a9;
    height: 50px;
    width: 50px;
    position: relative;
    left: 14px;
    top: 14px;
    &-user{
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #00FF7F;
      opacity: 0.7;
    }
  }
}

.stage-map .path{
  background: #a9a9a9;
  height: 14px;
  width: 14px;
  position: absolute;
  &.t{
    top: -14px;
    left: 18px;
  }
  &.r{
    top: 18px;
    right: -14px;
  }
  &.b{
    bottom: -14px;
    left: 18px;
  }
  &.l{
    top: 18px;
    left: -14px;
  }
}
